.goofy-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 85vh;
  justify-items: center;
  align-items: flex-start;

  padding: 8rem 2rem 5rem;

  .img-container {
    img {
      width: 400px;
      height: 400px;

      object-fit: cover;
      border-radius: 80px;

      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.274),
        0px 0px 30px rgba(0, 0, 0, 0.41);
    }
  }
  .about-me-container {
    margin-top: -2rem;
    h1 {
      font-size: 3rem;
      text-align: center;
      font-weight: 400;
      margin-bottom: 2rem;
      word-spacing: 15px;
    }
    p {
      font-size: 1.4rem;
      padding: 0rem 8rem;
      line-height: 2rem;
      word-spacing: 10px;

      span {
        color: rgb(102, 0, 0);
      }
    }
  }
}
