.landing-page {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .head {
    margin-bottom: 3rem;
    p {
      text-align: center;
    }
    h1 {
      font-size: 10rem;
      letter-spacing: 5px;
      text-shadow: 5px 5px var(--heading-shadow-cl1),
        10px 10px var(--heading-shadow-cl2), 15px 15px var(--heading-shadow-cl3);
    }
  }

  .theme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .theme-box {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        box-sizing: content-box;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:not(:last-child) {
          margin-right: 1.4rem;
        }

        &:hover {
          transform: scale(1.2);
        }

        &.theme-active {
          transform: scale(1.3);
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .head {
      h1 {
        font-size: 8rem;
      }
    }
    .theme-container {
      p {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
      .theme-box button {
        height: 1.7rem;
        width: 1.7rem;
        &:hover {
          transform: scale(1.1);
        }
        &.theme-active {
          transform: scale(1.2);
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .head {
      margin-bottom: 2rem;
      h1 {
        font-size: 6rem;
        // letter-spacing: 7px;
        text-shadow: 3px 3px var(--heading-shadow-cl1),
          7px 7px var(--heading-shadow-cl2), 11px 11px var(--heading-shadow-cl3);
      }
    }
    .theme-container {
      p {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
      }
      .theme-box button {
        height: 1.3rem;
        width: 1.3rem;
        &:not(:last-child) {
          margin-right: 1.2rem;
        }
        &:hover {
          transform: scale(1.1);
        }
        &.theme-active {
          transform: scale(1.2);
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 5rem;
      text-shadow: 2px 2px var(--heading-shadow-cl1),
        4px 4px var(--heading-shadow-cl2), 6px 6px var(--heading-shadow-cl3);
    }
  }
}
