.landing-page {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 10rem;
    margin-bottom: 3rem;
    text-shadow: 5px 5px rgb(255, 0, 0), 10px 10px rgb(89, 0, 255),
      15px 15px rgb(90, 192, 7);
  }

  .theme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .theme-box {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        box-sizing: content-box;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:not(:last-child) {
          margin-right: 1.4rem;
        }

        &:hover {
          transform: scale(1.2);
        }

        &.theme-active {
          transform: scale(1.3);
          // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);
        }
      }
    }
  }
}
