.light {
  --main-bg: white;
  --main-text: black;

  --nav-underline: rgb(51, 51, 51);

  --heading-shadow-cl1: red;
  --heading-shadow-cl2: rgb(89, 0, 255);
  --heading-shadow-cl3: rgb(90, 192, 7);

  --contact-boxes-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
  --contact-boxes-shadow-hover: 3px 3px 8px rgba(0, 0, 0, 0.514);
}
