*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

// ScrollBar

::selection {
  background-color: var(--select-text);
  color: var(--select-bg);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  // border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  // border-radius: 10px;
  box-shadow: inset 7px 7px 30px var(--scroll-bg);
}

// ScrollBar

:root {
  --theme-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    text-shadow 0.5s ease;
}

.page {
  background-color: var(--main-bg);
  color: var(--main-text);
  transition: var(--theme-transition);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg);
  color: var(--main-text);
  transition: var(--theme-transition);
}

.main-page {
  transition: var(--theme-transition);
  background-color: var(--main-bg);
}

button:focus {
  outline: none;
}
@import "./themes";
@import "./ContactPage";
@import "./AboutPage";
@import "./LandingPage";
@import "./Library";
@import "./Navbar";
@import "./Pages";
