*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

// ScrollBar

::selection {
  background-color: rgb(24, 24, 24);
  color: aliceblue;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #719190;
  // border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  // border-radius: 10px;
  box-shadow: inset 7px 7px 30px #c2c2c2;
}

// ScrollBar

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

button:focus {
  outline: none;
}
@import "./_ContactPage.scss";
@import "./AboutPage";
@import "./LandingPage";
@import "./Library";
@import "./Navbar";
@import "./Pages";
